<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title>Task List Management</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <form class="example-form">
      <div>
        <mat-form-field class="common_form">
          <label>User Name</label>
          <input matInput>
        </mat-form-field>

        <button mat-raised-button color="primary">Login</button>
      </div>
      <div>
        <mat-form-field class="common_form">
          <label>task title</label>
          <input matInput>
        </mat-form-field>

        <mat-form-field class="common_form">
          <label>Choose a Date</label>
          <input matInput [matDatepicker]="picker">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <button mat-raised-button color="primary">Submit</button>
      </div>

      <mat-tab-group>
        <mat-tab label="Done">
          <ul>
            <li>Content 1</li>
            <li>Content 2</li>
            <li>Content 3</li>
          </ul>
        </mat-tab>
        <mat-tab label="Late">
          <ul>
            <li>Content 4</li>
            <li>Content 5</li>
            <li>Content 6</li>
          </ul>
        </mat-tab>
        <mat-tab label="On Time">
          <ul>
            <li>Content 7</li>
            <li>Content 8</li>
            <li>Content 9</li>
          </ul>
        </mat-tab>
      </mat-tab-group>
    </form>
  </mat-card-content>
</mat-card>
